# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js
.next/
out/

# production
build/
dist/

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env
.env
.env*.local

# vercel
.vercel

# turbo
.turbo

# database
db/*.db
db/*.db-journal

# prisma
prisma/migrations/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
